{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show container-fluid">
<div class='row justify-content-md-center'>
    <div class='col-12'>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
    <div class='col-12 justify-content-md-center'>
        <a class='button_gestion_user' href={{path('fos_user_profile_edit')}}>éditer</a>
        <a class='button_gestion_user' href={{path('fos_user_change_password')}}>changer mot de passe</a>
    </div>
</div>

</div>
